.v-jdesign {
  .components {
    > .el-collapse-item {
      &.property-wrapper {
        .empty {
          font-size: 14px;
          color: #909399;
          text-align: center;
          margin: 0;
          line-height: 60px;
        }

        .property-wrapper__body {
          margin-bottom: 15px;
        }

        .inline-property {
          display: flex;
          justify-content: space-between;

          .inline-property__title {
            display: flex;
            flex: 1;
            font-size: 14px;
            line-height: 32px;

            > * {
              flex: 1;
            }
          }
        }

        > .el-collapse-item__wrap {
          .el-collapse-item__content {
            padding-bottom: 15px;
          }
        }

        .inline-property__action {
          > * {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
