@import "./variables.scss";

.v-jdesign {
  > .v-jd-aside {
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 270px;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    &.left {
      border-right: $border;
    }

    &.right {
      border-left: $border;
    }

    svg {
      margin-top: -2px;
    }
  }
}
