@import "../styles/variables.scss";

.v-jdesign {
  .v-jd-collapse {
    font-size: 13px;

    > .item {
      border: none;
      border-radius: 0;
      border-top: $border;
      border-bottom: $border;

      &:first-child {
        border: none;
      }

      > .header {
        background-color: #fff;
        padding: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;

        color: black;
        font-weight: 500;
        text-decoration: none;

        display: flex;
        align-items: center;

        > :first-child {
          margin-right: 5px;
        }

        > :last-child {
          flex: 1;
          text-align: right;
        }
      }

      .body {
        padding: 0;

        .components-group {
          padding: 0;
          margin: 0;
          margin-right: -1px;
        }

        .drag-handler {
          border-bottom: $border;
          border-right: $border;

          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          color: black;
          text-decoration: none;

          margin-bottom: -1px;

          &:hover {
            color: $fontActiveColor;
          }
        }
      }
    }
  }
}
