.v-jdesign {
  height: 100%;
  border: 1px solid #e4e7ed;
}

.v-jdesign
  > .aside
  > .max-aside
  > .el-tabs__header
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav,
.v-jdesign
  > .main
  > .max-aside
  > .el-tabs__header
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav {
  border-radius: 0;
  border-top: none;
  border-left: none;
}

.v-jdesign > .main,
.v-jdesign > .right {
  border-left: 1px solid #e4e7ed;
}

.v-jdesign .max-aside {
  height: 100%;
}

.v-jdesign .max-aside.el-tabs--border-card {
  border: none;
  position: relative;
}

.v-jdesign .max-aside > .el-tabs__content {
  position: absolute;
  top: 39px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

/* 组件 */
.v-jdesign .aside .components .components-group > .drag-handler {
  margin-bottom: 10px;
}

.v-jdesign
  .components
  > .el-collapse-item
  > .el-collapse-item__wrap
  > .el-collapse-item__content {
  padding-bottom: 0;
}

.v-jdesign .v-jform .layout-component {
  border: 1px dotted silver;
  padding: 10px;
  /* text-align: center; */
}

.v-jdesign .v-jform .layout-component > * {
  text-align: initial;
}

.v-jdesign .v-jform .layout-component::after {
  content: "添加组件";
  color: silver;
}

.v-jdesign .v-jform .design-element {
  position: relative;
  border: 1px dashed gray;
}

.v-jdesign .v-jform .design-element::before {
  position: absolute;
  left: 0;
  /* content: "element"; */
}
