.v-jdesign {
  height: 100%;
  border: $border;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;

  font-size: 14px;

  .jv-container {
    border: $border;
    border-style: dashed;
  }

  .svg-icon {
    &.v-jd-svgicon {
      width: 1em;
      height: 1em;
    }
  }
}

/*  */
.v-jdesign .components-group > .drag-handler {
  cursor: pointer;
}

.transform-form {
  width: 640px;
}
