@import './variables.scss';

.v-jdesign {
  .v-jd-tabs {
    background-color: $tabBackgroundColor;

    > .v-jd-tabitem {
      font-weight: 500;

      > .v-jd-link {
        height: 40px;
        padding: 0 20px;
        min-width: 120px;
        line-height: 40px;
        border-radius: 0;
        border: none;
        color: $tabFontColor;
        margin-left: -1px;

        display: flex;

        align-items: center;
        justify-content: center;
        overflow-y: hidden;

        .tab-icon {
          filter: drop-shadow($tabFontColor 0 100px);
          transform: translate(0, -100px);
        }

        &.active {
          color: $fontActiveColor;
          border-left: $border;
          border-right: $border;

          // 为了改变svg颜色
          .tab-icon {
            filter: drop-shadow($fontActiveColor 0 100px);
            transform: translate(0, -100px);
          }
        }

        .tab-icon {
          margin-right: 5px;
        }
      }

      > :last-child {
        margin-right: -1px;
      }
    }
  }

  .v-jd-tabcontent {
    flex: 1;
    overflow: auto;
  }
}
